<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.miguelpuyol.jira</string>
	<key>category</key>
	<string>Work</string>
	<key>connections</key>
	<dict>
		<key>0589B57D-2DD0-4C4D-B241-8BECD211D844</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAC1DCDF-268B-46B6-8FBC-7FA380B076D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA15956B-1364-425F-9AA4-34F8A6ECA094</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4DFCBBB3-5826-4D36-87F4-F1DA25C798E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>11212BC1-6981-4342-8C29-E8904A109D19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2266E6A-451D-4E5F-B80C-8ED8597DD496</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>97695483-49DA-40DB-B647-9F3EF1F899AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B850386E-3897-404D-8897-52095786854F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F37BF7F-23FD-4190-84FF-0C740B6DCA65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F72709E4-C0D4-44B7-9E39-098F81B157C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA1D6B42-8C6A-4C69-92BB-C06B77D6DD06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Miguel</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jira Manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BA15956B-1364-425F-9AA4-34F8A6ECA094</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>97695483-49DA-40DB-B647-9F3EF1F899AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jira</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please wait...</string>
				<key>script</key>
				<string>python jira.py {query}</string>
				<key>title</key>
				<string>List Jira Items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A7F94DA-8824-4BEA-892C-25D9882A4143</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4DFCBBB3-5826-4D36-87F4-F1DA25C798E4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>setupjira</string>
				<key>queuedelaycustom</key>
				<integer>5</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>The connection to Jira might take some seconds...</string>
				<key>script</key>
				<string>python jira-setup.py --setup true {query}</string>
				<key>title</key>
				<string>Show the JIRA Connection</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85673819-F846-4EB1-A0C2-8023C61C3B64</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python jira-setup.py --server {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FA1D6B42-8C6A-4C69-92BB-C06B77D6DD06</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setupjiraserver</string>
				<key>text</key>
				<string>Set Jira Server</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F72709E4-C0D4-44B7-9E39-098F81B157C9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python jira-setup.py --user {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CAC1DCDF-268B-46B6-8FBC-7FA380B076D6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setupjirauser</string>
				<key>text</key>
				<string>Set Jira User</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0589B57D-2DD0-4C4D-B241-8BECD211D844</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python jira-setup.py --keychain {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6F37BF7F-23FD-4190-84FF-0C740B6DCA65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setupjirakeychain</string>
				<key>subtext</key>
				<string>Indicate where your jira password is stored</string>
				<key>text</key>
				<string>Set Jira Keychain account</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B850386E-3897-404D-8897-52095786854F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python jira-setup.py --sprint_board {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C2266E6A-451D-4E5F-B80C-8ED8597DD496</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>setupjirasprintboard</string>
				<key>text</key>
				<string>Set Jira Sprint Board Id</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>11212BC1-6981-4342-8C29-E8904A109D19</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>new version</string>
	<key>uidata</key>
	<dict>
		<key>0589B57D-2DD0-4C4D-B241-8BECD211D844</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>0A7F94DA-8824-4BEA-892C-25D9882A4143</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>11212BC1-6981-4342-8C29-E8904A109D19</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>4DFCBBB3-5826-4D36-87F4-F1DA25C798E4</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>6F37BF7F-23FD-4190-84FF-0C740B6DCA65</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>85673819-F846-4EB1-A0C2-8023C61C3B64</key>
		<dict>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>97695483-49DA-40DB-B647-9F3EF1F899AB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B850386E-3897-404D-8897-52095786854F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>BA15956B-1364-425F-9AA4-34F8A6ECA094</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C2266E6A-451D-4E5F-B80C-8ED8597DD496</key>
		<dict>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>CAC1DCDF-268B-46B6-8FBC-7FA380B076D6</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F72709E4-C0D4-44B7-9E39-098F81B157C9</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>FA1D6B42-8C6A-4C69-92BB-C06B77D6DD06</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
